.Nachrichtenbox {
  background-color: black;
  width: 800px;
  height: 800px;
  border-radius: 18px;
  position: absolute;
  left: 30%;
  top: 20%;
}

.NachrichtenScrollBox {
  background-color: aliceblue;
  width: 500px;
  height: 550px;
  position: absolute;
  left: 35px;
  top: 25px;
  overflow: auto;
  border-radius: 10px;
}

.Nachrichten {
  background-color: blueviolet;
  padding: 20px;
  margin: 20px;
  max-width: 240px;
  position: center;
}

.Chats {
  background-color: #721e1e;
  width: 230px;
  height: 600px;
  position: absolute;
  left: 570px;
  border-top-right-radius: 18px;
}
.SingleChat {
  background-color: #721e1e;
  width:230px;
  height:100px;
  border: 1px solid;
}
.Chatinput {
  width: 800px;
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  background-color: #2f2f2f;
  color: azure;
  position: absolute;
  top: 600px;
}

  .Chatinput:focus {
    outline: none !important;
    border: 1px solid red;
  }

.buttn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #721e1e;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #2f2f2f;
  position: absolute;
  left: 600px;
  top: 710px;
}

  .buttn:hover {
    background-color: #983232;
  }

  .buttn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #2f2f2f;
    transform: translateY(4px);
  }

.h1 {
  color: #000000;
  max-width: 570px;
}
