@page "/"

@using BlazorServer.Data
@using MongoDB.Driver
@using MongoDB.Bson
@using MongoDB.Bson.Serialization.Attributes
@using BlazorServer
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.SignalR.Client



@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager NM

<h1>Hello, Yugioh Fans!</h1>
<DxDateEdit Date="DateTime.Today"></DxDateEdit>
<AuthorizeView>
  <Authorized>
    <h1>hello, @UserName</h1>
  </Authorized>
</AuthorizeView>

@code{
  public string UserName;

  protected override void OnInitialized()
  {
    UserName = httpContextAccessor.HttpContext.User.Identity.Name;      //UserName wird Initialisiert
  }
}